.container {
    max-width: 960px;
}
.informacoes-gerais{
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.foto-luciano {
    width: 100%;
    height: 95vh;
    background-color: #d3dbe0;
    opacity: 1;
    position: relative;
}
.descricao-foto {
    color: white;
    font-family: "Montserrat", serfif;
    height: 4rem;
}
.descricao-foto h1{
    color: #182644;
    font-family: "Montserrat", serfif;
    position: absolute;
    font-size: 1rem;
    top: 90vh;
    left: 15rem;
    /* font-weight: 700; */
}

.infos {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    text-align: center;
    right: 10rem;
    background-color: #182644;
    /* font-size: 1.5rem; */
}
.infos h1 {
    margin-top: 5rem;
    letter-spacing: .1rem;
    margin-bottom: 50px;
    color: white;
    font-family: "Montserrat", serfif;
    font-size: 2.3rem;
    /* margin-left: 0; */
}
.infos p {
    letter-spacing: .05rem;
    line-height: 2rem;
    margin-bottom: 100px;
    margin-top: 14vh;
    margin-left: 4rem;
    margin-right: 4rem;
    color: white;
    font-family: "Mukta", serif;
    font-size: 1rem;
}
.infos button {
    background-color: #eb6524;
    color: white;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    border: none;
    font-family: "Montserrat", serfif;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
}
  .product-device {
    /* align-items: center; */
    bottom: -30%;
    width: 100vw;
    height: 85vh;
    /* background-size: cover; */
    background-color: #333;
    background-image: url("../img/banner-bea.jpg");
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    /* right: 10px; */
    bottom: 10%;
    /* left: 10px; */
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    /* right: auto; */
    bottom: 0;
    /* left: 5%; */
    background-color: #e5e5e5;
  }

  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  