<link rel="stylesheet" href="css/footer.css">

<footer>
    <div class="footer-content">
        <div class="footer1">
            <i class="fas fa-map-marker-alt"></i>
            <h1> Edifício The Place</h1>
            <p>Rua Tobias da Silva, 120, sala 505 - Moinhos de Vento<br />Porto Alegre, RS</p>
        </div>
        <div class="footer2">
            <i class="fas fa-map-marker-alt"></i>
            <h1>Centro Clínico Mãe de Deus</h1>
            <p>Rua Costa, 30, sala 703 - Menino Deus<br />Porto Alegre, RS</p>
        </div>
        <div class="footer3">
            <i class="fas fa-phone-alt"></i>
            <h1>+55 (51) 98446-7098 / +55 (51) 3230-2667</h1>
            <a class="whats-icon" href="https://api.whatsapp.com/send?phone=555198446709" target="_blank"><i class="fab fa-whatsapp"></i></a
        </div>
    </div>
</footer>
</body>
<script src="js/script.js"></script>
</html>